PORT=3000

# PRODUCTION
# REACT_APP_API_URL=https://sppbe-backend.app.bangun-kreatif.com
# REACT_APP_IMAGE_URL=https://sppbe-backend.app.bangun-kreatif.com

# STAGING
REACT_APP_API_URL=https://sppbe-backend.k3s.bangun-kreatif.com
REACT_APP_IMAGE_URL=https://sppbe-backend.k3s.bangun-kreatif.com

# LOCAL
# REACT_APP_API_URL=http://localhost:4002
# REACT_APP_IMAGE_URL=http://localhost:4002

#WEBSOCKET
WEBSOCKET_URL=wss://centrifugo.k3s.bangun-kreatif.com/connection/websocket
WEBSOCKET_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJpbGhhbV93aWJ1IiwiZXhwIjoyMjg1OTI1MDEzfQ.OULRXO4Tu-tLQKkyZK7EhqDgfIFOKUQ-qFhJB60pklE

#REACT_APP_API_URL=http://localhost:8000
#REACT_APP_IMAGE_URL=https://api-staging.cariparkir.co.id

REACT_APP_API_VERSION=v5
REACT_APP_G_CLIENT_ID=981171239032-oaqdn5edv7p93ufssoas93kvpo57f3fv.apps.googleusercontent.com
REACT_APP_MAP_API_KEY=AIzaSyD_rLoFdh7ec0xuxi4GOFwrChcN5AhWxCs

GOOGLE_MAPS_API=AIzaSyB4u8BWUBiCI5eGEqSuXZiHXr5SrO7OlVY
